extends: default

ignore: |
  .taskfiles/
  templates/
  bootstrap/
  **/*.sops.yaml
  **/*.sops.yml

rules:
  line-length: disable
  indentation:
    spaces: 2
    indent-sequences: true
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 2
  comments:
    level: warning
  document-start: disable
  truthy: disable
