---
apiVersion: externaldns.k8s.io/v1alpha1
kind: DNSEndpoint
metadata:
  name: cloudflare-tunnel
spec:
  endpoints:
    - dnsName: "external-apps.#{ cloudflare_domain }#"
      recordType: CNAME
      targets: ["#{ cloudflare_tunnel_id() }#.cfargotunnel.com"]
    - dnsName: "external-infra.#{ cloudflare_domain }#"
      recordType: CNAME
      targets: ["#{ cloudflare_tunnel_id('cloudflare-tunnel-infra.json') }#.cfargotunnel.com"]
    - dnsName: "nginx-test.#{ cloudflare_domain }#"
      recordType: CNAME
      targets: ["external-apps.#{ cloudflare_domain }#"]
    - dnsName: "pulse.#{ cloudflare_domain }#"
      recordType: CNAME
      targets: ["external-infra.#{ cloudflare_domain }#"]
    - dnsName: "kestra.#{ cloudflare_domain }#"
      recordType: CNAME
      targets: ["external-infra.#{ cloudflare_domain }#"]
    - dnsName: "grafana.#{ cloudflare_domain }#"
      recordType: CNAME
      targets: ["external-apps.#{ cloudflare_domain }#"]
