---
apiVersion: externaldns.k8s.io/v1alpha1
kind: DNSEndpoint
metadata:
  name: kestra-cloudflare-tunnel
spec:
  endpoints:
    - dnsName: "kestra.#{ cloudflare_domain }#"
      recordType: CNAME
      targets: ["external-infra.#{ cloudflare_domain }#"]
